@import './open-color.css';
@import './ships.css';
@import './board.css';
@import './modal.css';
@import './game.css';
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Quicksand:wght@300..700&display=swap');

:root {
  --regular: 'Quicksand', sans-serif;
  --headlines: 'Jost', sans-serif;
  --header: 'Jost', sans-serif;
  --small-space: 1em;
  --medium-space: 2em;
  --large-space: 4em;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: var(--oc-gray-3);
  overflow: auto;
}

body,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main,
section {
  margin: var(--small-space);
  text-align: center;
}

main {
  padding: var(--large-space) var(--small-space) 0;
  flex: 1;
  max-width: 30em;
  flex-grow: 1;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

h1 {
  color: var(--oc-blue-7);
  font-size: clamp(2rem, 6vw, 5rem);
  font-family: var(--header);
  text-transform: uppercase;
  text-align: center;
}

h1,
h2,
p {
  margin: 0;
}

h2 {
  color: var(--oc-red-4);
  font-family: var(--headlines);
}

p {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

header {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

footer,
footer a {
  color: var(--oc-gray-7);
  text-align: center;
  text-decoration: none;
  font-family: var(--regular);
  margin-top: var(--large-space);
}

footer {
  position: relative;
  padding: var(--small-space) 0;
  color: var(--oc-gray-7);
  text-align: center;
  z-index: 5;
}

footer a:hover {
  color: var(--oc-red-5);
}

footer a:visited {
  color: var(--oc-blue-5);
}

/* BUTTON Styles*/

button {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  font-family: var(--regular);
  font-size: 16px;
  margin: var(--small-space);
  border: none;
  background-color: var(--oc-blue-5);
  color: var(--oc-gray-1);
}

button:hover {
  opacity: 0.9;
  background-color: var(--oc-red-4);
}

button:active {
  position: relative;
  top: 1px;
}

/** MEDIA QUERIES*/

@media screen and (max-width: 768px) {

  header,
  footer {
    padding: 2rem;
    position: relative;
    z-index: 10;
  }
}

@media screen and (min-width: 1000px) {
  body {
    overflow: hidden;
  }
}

@media screen and (max-width: 300px) {
  p.game-info {
    word-wrap: break-word;
    width: 100%;
    padding: 5px; 
    box-sizing: border-box;
  }
}